.card-container {
  width: 600px;
  height: 70%;
  padding: 0px 20px 20px 20px;
  border: 2px solid black;
  background-color: #FFFFFF;
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  border-radius: 5px;  padding: 15px;
  text-align: center;
  overflow-y: scroll;
  z-index: 100;
}

#species-card.overlay {
  position: absolute;
  left: 0px;
  top: 60px;
  width:100%;
  height:100%;
  text-align: center;
}

.species-dark-matter {
  z-index: 50;
  background-color: gray;
  position: fixed;
  opacity: .4;
  width:100%;
  height:100%;
}




