.card-container {
  width: 600px;
  height: 70%;
  padding: 0px 20px 20px 20px;
  border: 4px solid black;
  background-image: url("/image/white-linen-background.jpg");
  /*background-color: #FFFFFF;*/
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  border-radius: 10px;  
  padding: 15px;
  text-align: center;
  overflow-y: scroll;
  z-index: 100;
}

.status .li{
  font-size: 14px;
}

.exit {
  float: left;
}

.main-image img {
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 5px #444;
  margin: 5px;
}

#species-card.overlay {
  position: absolute;
  left: 0px;
  top: 60px;
  width:100%;
  height:100%;
  text-align: center;
}

.species-dark-matter {
  z-index: 50;
  background-color: gray;
  position: fixed;
  top: 60px;
  opacity: .4;
  width:100%;
  height:100%;
}

.relatives .card {
  background-color: gray;
  display: inline-block;
  border: none;
  padding: 10px;
  position: relative;
  margin: 10px;
  box-shadow: 0px 0px 5px #444;
}

.add-to-collection {
  display: inline;
  font-style: none;
  margin: 20px;

}

.relatives .card img {
  border: 2px solid gray;
  display: block;
  text-align: center;
}



