/*
#055766 blue
#041b26 darkblue
#425a0d green
#cfa100 yellow
#ff2600 red
*/

* {
    transition: all ease .5s;
}

/*.container {
  height: 900px;
  box-shadow: inset 5px 5px 5px #CCC;
}*/

/*.previous-row {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  height: 100px;
}

.previous-row img {
  display: inline;
  opacity: 0.5;
  height: 30%;
  margin: 10px;
}*/

.row {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100px;
}

.row img {
  display: inline;
  height: 40%;
  margin: 5px;
  border: none;
}

.row.selected {
 /* background-color: blue;*/
 /* box-shadow: inset 0px 0px 10px #666;*/
  overflow-y: scroll;
  height: 180px;
}

.row.selected img {
  height: 80%;

}

.row:hover img {
  box-shadow: inset 5px 5px 5px #FFF;
}

/*.next-row {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100px;
}

.next-row img {
  display: inline;
  opacity: 0.5;
  height: 30%;
  margin: 10px;
}


*/
