* {
    transition: all linear .4s;
    border: none;
    margin: none;
    padding: none;
}

/*body {
    background: url('/image/bg/leather_1_@2X.png');
}*/
img {
    border: none;
    border-radius: 0;
}
.container {
    /*background: rgba(255, 38, 0, 0.5);*/
    /*box-shadow: 0px 0px 20px 20px #333;*/
    display: flex;
    width: 100%;
    height: 92%;
    overflow: hidden;
}

.bar {
    display: inline-block;
    flex: 2;
    /*height: 100%;*/
    padding: 0px;
    margin: 0px;
    border: none;
    background: #055766;
    text-align: center;
    color: white;
    overflow-y: scroll;
    border: 1px solid #666;

}
.bar.kingdom {
    flex: 1;
}

.bar.kingdom h2 {
    z-index: 10;
    position: relative;
    transform: rotate(-90deg);
}

.bar h5 {
    font-size: 18px;
    z-index: 10;
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #444;
    border: none;
    margin: 0px;;
    padding: 0px;
    height: 30px;
    text-transform: capitalize;
    box-shadow: none;
}

.selected {
    flex: 6;
    background: #333;
    box-shadow: inset 5px 0px 25px #666;
    overflow-y: auto;
}
.bar::-webkit-scrollbar {
    display: none;
}

.bar.detail.selected {
    flex: 10;
}

.bar.detail {
    flex: 0.01;
    background: #333;
}

.bar.detail.active {
    flex: 8;
    height: 100%;
    background: none;
}

.class .icons {
}


/*
.bar:hover {
    width: 20%;
}
*/
/*
.container:hover {
    top: 0px;
    transform: rotate(90deg);
}*/

.icons {
    margin: 30px auto;
    width: 65%;
    height: 180px;
    box-shadow: 0px 0px 13px #666, inset 0 0 30px 5px #fff;
    border-radius: 20px;
    padding: 0;
    background: #e4f5fc; /* Old browsers */
    background: -moz-linear-gradient(top,  #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #5fa9d8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(50%,#bfe8f9), color-stop(51%,#9fd8ef), color-stop(100%,#5fa9d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#5fa9d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#5fa9d8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#5fa9d8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#5fa9d8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#5fa9d8',GradientType=0 ); /* IE6-9 */

    background-size: 100%;
    color: black;
    overflow: hidden;
    cursor:pointer;
    z-index: 10;
}
.icon-fake {
    margin: 30px auto;
    width: 65%;
    height: 180px;
    box-shadow: 0px 0px 13px #666, inset 0 0 30px 5px #fff;
    border-radius: 20px;
    padding: 0;
    background: #e4f5fc; /* Old browsers */
    background: -moz-linear-gradient(top,  #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #5fa9d8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(50%,#bfe8f9), color-stop(51%,#9fd8ef), color-stop(100%,#5fa9d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#5fa9d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#5fa9d8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#5fa9d8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#5fa9d8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#5fa9d8',GradientType=0 ); /* IE6-9 */

    background-size: 100%;
    color: black;
    overflow: hidden;
    cursor:pointer;
    z-index: 10;
    box-shadow: inset 0 0 1000px #666, 0 0 10px 8px #f4b612;
}
.selected .icons {
    height: 250px;
}
.icons h4 {
    background: #fdfdfd;
    width: 100%;
    position: relative;
    margin-top: -45%;

}
.selected .icons h4 {
    display: block;
    margin-top: -40%;
    font-size: 24pt;
}

.icons.breadcrumb {
    box-shadow: 0 0 10px 8px #f4b612;
}
.icons img {
    min-width: 100%;
    max-width: 120%;
    min-height: 100%;
    max-height: 120%;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 85%;
}

.hidden-id {
    display: none;
}

.detail {

}

.detail img {
    border-radius: 8%;
}

.bar.kingdom{
    background-color: rgba(80, 142, 203, 0.8);
}

.bar.phylum {
    background: rgba(99, 157, 214, 0.8);
    /*background-color: #639DD6;*/
}
.bar.class {
    background: rgba(109, 166, 219, 0.8);
    /*background-color: #6DA6DB;*/
}
.bar.order {
    background: rgba(122, 181, 228, 0.8);
    /*background-color: #7AB5E4;*/
}
.bar.family {
    background: rgba(135, 185, 227, 0.8);
    /*background-color: #87b9e3;*/
}
.bar.genus {
    background: rgba(154, 197, 232, 0.8);
    /*background-color: #9ac5e8;*/
}
.bar.species {
    background: rgba(168, 206, 236, 0.8);
    /*background-color: #a8ceec;*/
}
.bar.detail {
    background: rgba(249, 245, 241, 0.5);
    color: #444;
    /*background-color: #2b3b45;*/
}

.hierarchy {
    width: 100%;
    color: white;
}
.bar .hierarchy .kingdom {
    display: inline-block;
    width: 10%;
    line-height: 30px;

}
.hierarchy .kingdom {
    background-color: rgba(99, 204, 77, 0.8);
    font-size: 14pt;
}
.bar .hierarchy .phylum {
    display: inline-block;
    min-width: 10%;
    line-height: 30px;
}
.hierarchy .phylum {
    background-color: rgba(176, 241, 130, 0.8);
    font-size: 14pt;
}
.hierarchy .class {
    display: inline-block;
    width: 10%;
    line-height: 30px;
    background-color: rgba(99, 204, 77, 0.8);
}
.hierarchy .order {
    display: inline-block;
    width: 10%;
    line-height: 30px;
    background-color: rgba(176, 241, 130, 0.8);
}
.hierarchy .family {
    display: inline-block;
    width: 10%;
    line-height: 30px;
    background-color: rgba(99, 204, 77, 0.8);
}
.hierarchy .genus {
    display: inline-block;
    width: 10%;
    line-height: 30px;
    background-color: rgba(176, 241, 130, 0.8);
}
.hierarchy .species {
    display: inline-block;
    width: 13%;
    transform: skewX(10deg);
    line-height: 40px;
    background-color: rgba(99, 204, 77, 0.8);
}

.bar.inactive {
    flex: .5;
    background: #777;
    padding-top: 15%;
    color: white;
}
.taxonomy-footer {
    position: fixed;
    top: 93%;
    left: 0px;
    height: 50%;
    width: 100%;
    background: none;
    display: flex;
    z-index: 100;
    text-align: center;
}
.hierarchy.taxonomy-footer div {
    flex: 2;
    transform: skewY(-5deg);
    border-top-right-radius: 15px;
    height: 100%;
}
.hierarchy.taxonomy-footer .kingdom {
    flex: 0.5;
    margin-top: -10%;
}
.hierarchy.taxonomy-footer .phylum {
    flex: 2;
    margin-top: -6%;
}
.hierarchy.taxonomy-footer .selected {
    flex: 6;
}
.hierarchy.taxonomy-footer .detail.selected {
    flex: 10;
}
.hierarchy.taxonomy-footer .detail {
    flex: 0.01;
}

.taxonomy-footer div {
    padding: 5px;
    font-size: 20pt;
    font-weight: bold;
}

.preload-image-container {
    z-index: -100;
    display: none;
}

