<% if session[:user_id].nil? %>
<div id="new-user-form">
	<h3>Register</h3>

	<form id="new-user" action="/signup" method="POST">
    FIRST NAME: <input type="text" name="user[first_name]" placeholder="first name" /><br>
    FIRST NAME: <input type="text" name="user[last_name]" placeholder="last name" /><br>
	  EMAIL: <input type="email" name="user[email]" placeholder="name@email.com" /><br>
	  PASSWORD: <input type="password" name="user[password]" placeholder="password" />
	  <input type="submit" value="Submit"/>
	</form>
</div>
<% else %>
LOGGED IN
<% end %>