<div class="container">

  <script>
  $(document).ready(function() {
       $(".container").on("click", ".row", function(event) {
        $(".row").removeClass("selected");
        $(this).addClass("selected");
    });
   });
  </script>


  

  <div class="row class">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">  
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">  
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">  
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">
    <img src="image/fish-icon.png" alt="">  
    <img src="image/fish-icon.png" alt="">


  </div>
  
  <div class="row order">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">
    <img src="image/bird-icon.png" alt="">

  </div>

<div class="row family">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">
    <img src="image/lion-icon.png" alt="">

  </div>
</div>
