<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//use.edgefonts.net/alegreya-sc.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  
  <title>Animalia</title>
</head>
  <header>
    <h1><a href="/">Animalia</a></h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">Link 2</a></li>
      <li><a href="/">Link 3</a></li>
      <% if session[:user_id].nil? %>
        <a href="/users/new" >Create New Account</a>
        <form id="sign-in" action="/users/login" method="POST">
          EMAIL: <input type="text" name="email" value="" />
          PASSWORD: <input type="text" name="password" value="" />
          <input type="submit" value="Log In" />
        </form>
      <% else %>
        LOGGED IN - <a href="/users/logout">LOG OUT</a>
      <% end %>
    </ul>
  </header>
<body>
  <div class="container">
  <%= yield %>
  </div>
</body>
</html>
