<!-- <div class="container"> -->
    <div id="" class="1 bar kingdom inactive">
        <!-- <span><h5>Kingdom</h5></span> -->
        <h2>ANIMALIA</h2>
    </div>
    <div id="" class="2 bar phylum inactive">
        <!-- <span><h5>phylum</h5></span> -->
        <h2>CHORDATA</h2>
    </div>
    <div id="" class="3 bar class ">
        <!-- <span><h5>class</h5></span> -->
        <div class="icons">
            <img src="/image/bird-icon.png" />
            <span><h4>Aves - Birds</h4></span>
            <span class="hidden-id">1</span>
        </div>
        <div class="icons">
            <img src="/image/lion-icon.png" />
            <span><h4>Mammalia - Mammals</h4></span>
            <span class="hidden-id">2</span>
        </div>
        <div class="icons">
            <img src="/image/lizard-icon.png" />
            <span><h4>Reptilia - Reptiles</h4></span>
            <span class="hidden-id">3</span>
        </div>
        <div class="icons">
            <img src="/image/frog-icon.png" />
            <span><h4>Amphibia - Amphibians</h4></span>
            <span class="hidden-id">4</span>
        </div>
        <div class="icons">
            <img src="/image/fish-icon.png" />
            <span><h4>Osteichthyes - Bony Fishes</h4></span>
            <span class="hidden-id">5</span>
        </div>
    </div>
    <div id="" class="4 bar order">
        <!-- <span><h5>order</h5></span> -->
    </div>
    <div id="" class="5 bar family">
        <!-- <span><h5>family</h5></span> -->
    </div>
    <div id=""  class="6 bar genus">
        <!-- <span><h5>genus</h5></span> -->
    </div>
    <div id="" class="7 bar species">
        <!-- <span><h5>species</h5></span> -->
    </div>
    <!-- --------------------------------------------- -->
    <div id="" class="8 bar detail ">
      <div class="card-container">
        <div class="main-image"><img src="" style="float: right"/></div>

            <h2></h2>
            <h3><em></em></h3>
            <ul>
              <div class="status">
              <li>Endangered Species Status:
                <span class="red_list_status"></span>
              </li>
              <li>Population Trends:
                <span class="population_trend"></span>
              </li>
            </div>
            </ul>
            <div class="description"> </div>

        <h3>NAME</h3>
        <img src="" />
        <span class="red_list_status"></span>
        <span class="population_trend"></span>
        <div class="description"> </div>
        <div class="hierarchy">
            <div class="1 kingdom"> </div>
            <div class="2 phylum"> </div>
            <div class="3 class"> </div>
            <div class="4 order"> </div>
            <div class="5 family"> </div>
            <div class="6 genus"> </div>
            <div class="7 species"> </div>
        </div>
        <form id="add-card-button" action="/add_to_collection" method="POST">
          <input class="" type="submit" value="Add to Collection!" />
        </form>
    </div>
<!--  -------------------------------------------------- -->
</div>
<div class="hierarchy taxonomy-footer">
    <div class="1 kingdom">Kingdom </div>
    <div class="2 phylum">Phylum </div>
    <div class="3 class ">Class </div>
    <div class="4 order">Order </div>
    <div class="5 family">Family </div>
    <div class="6 genus">Genus </div>
    <div class="7 species">Species </div>
    <div class="8 detail"> </div>




