* {
    transition: all linear .3s;
    border: none;
    margin: none;
    padding: none;
}

body {
    background: url('/image/bg/leather_1_@2X.png');
}

.container {
    /*background: rgba(255, 38, 0, 0.5);*/
    /*box-shadow: 0px 0px 20px 20px #333;
    display: flex;*/
}

.bar {
    display: inline-block;
    flex: 2;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
    background: #055766;
    text-align: center;
    color: white;
    overflow-y: scroll;
    border: 1px solid #666;

}
.bar.kingdom, .bar.phylum {
    flex: 1;
}

.bar h2 {
    z-index: 10;
    position: relative;
    transform: rotate(-90deg);
    top: 40%;
}

.bar h5 {
    font-size: 18px;
    z-index: 10;
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #444;
    border: none;
    margin: 0px;;
    padding: 0px;
    height: 30px;
    text-transform: capitalize;
    box-shadow: none;
}

.bar.selected {
    flex: 6;
    background: none;
    box-shadow: inset 5px 0px 20px #666;
    overflow-y: auto;
}
.bar::-webkit-scrollbar {
    display: none;
}

.bar.detail.selected {
    flex: 10;
}

.bar.inactive {
    flex: 1;
    background: #666;
    box-shadow: inset 0px 0px 10px #333;
}
.bar.detail {
    flex: 0.01;
    background: #333;
}

.bar.detail.active {
    flex: 8;
    height: 100%;
    background: none;
}

.class .cards {
    background-image: none;
}

.cards img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 85%;
}

/*
.bar:hover {
    width: 20%;
}
*/
/*
.container:hover {
    top: 0px;
    transform: rotate(90deg);
}*/

.cards {
    margin: 30px auto;
    width: 65%;
    height: 90px;
    box-shadow: 0px 0px 13px #666;
    border-radius: 20px;
    overflow: hidden;
    padding: 5%;
    background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    background-size: 100%;
    color: black;
    overflow: hidden;
    line-height: 15%;
    cursor:pointer;
    z-index: 10;
}
.cards.fade {
    box-shadow: inset 0 0 1000px #666;
}
.selected .cards {
    height: 250px;
}
.selected .cards h4 {
    display: block;
}

.cards.breadcrumb {
    box-shadow: 0 0 10px 8px #f4b612;
}

.hidden-id {
    display: none;
}

.detail {

}

.detail img {
    border-radius: 50%;
}

.bar.kingdom{
    background-color: rgba(80, 142, 203, 0.7);
}

.bar.phylum {
    background: rgba(99, 157, 214, 0.7);
    /*background-color: #639DD6;*/
}
.bar.class {
    background: rgba(109, 166, 219, 0.7);
    /*background-color: #6DA6DB;*/
}
.bar.order {
    background: rgba(122, 181, 228, 0.7);
    /*background-color: #7AB5E4;*/
}
.bar.family {
    background: rgba(135, 185, 227, 0.7);
    /*background-color: #87b9e3;*/
}
.bar.genus {
    background: rgba(154, 197, 232, 0.7);
    /*background-color: #9ac5e8;*/
}
.bar.species {
    background: rgba(168, 206, 236, 0.7);
    /*background-color: #a8ceec;*/
}
.bar.detail {
    background: rgba(249, 245, 241, 0.5);
    color: #444;
    /*background-color: #2b3b45;*/
}

.taxonomy {
    width: 100%;
    color: white;
}
.taxonomy .kingdom {
    display: inline-block;
    width: 10%;
    line-height: 30px;
    background-color: #21420b;

}
.taxonomy .phylum {
    display: inline-block;
    min-width: 10%;
    line-height: 30px;
    background-color: #4a7a17;
}
.taxonomy .class {
    display: inline-block;
    width: 10%;
    line-height: 30px;
    background-color: #21420b;
}
.taxonomy .order {
    display: inline-block;
    width: 10%;
    line-height: 30px;
    background-color: #4a7a17;
}
.taxonomy .family {
    display: inline-block;
    width: 10%;
    line-height: 30px;
    background-color: #21420b;
}
.taxonomy .genus {
    display: inline-block;
    width: 10%;
    line-height: 30px;
    background-color: #4a7a17;
}
.taxonomy .species {
    display: inline-block;
    width: 13%;
    transform: skewX(10deg);
    line-height: 40px;
    background-color: #21420b;
}

